__pycache__
example_data__cuboid_04_lanza/*
!example_data__cuboid_04_lanza/exemplary_analysis__cuboid_04_lanza.py
!example_data__cuboid_04_lanza20201216__cuboid_04_lanza__old_veto__list_file_ch000.txt
!example_data__cuboid_04_lanza20210102__cuboid_04_lanza__old_veto__list_file_ch000.txt
!example_data__cuboid_04_lanza20210114__cuboid_04_lanza__old_veto__list_file_ch000_ch000.txt
