__pycache__
example_data__cuboid_04_lanza/*
!example_data__cuboid_04_lanza/gemse_sample_analysis.py
!example_data__cuboid_04_lanza/20201216__cuboid_04_lanza__old_veto__list_file_ch000.txt
!example_data__cuboid_04_lanza/20210102__cuboid_04_lanza__old_veto__list_file_ch000.txt
!example_data__cuboid_04_lanza/20210114__cuboid_04_lanza__old_veto__list_file_ch000_ch000.txt
